* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  font-size: 40px;
  color: gray;
  text-align: center;
  margin-top: 100px;
}
.navbar {
  width: 100vw;
  height: 50px;
  background-color: lightgray;
}
.navbar__link {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.todoEdit {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.row {
  position: relative;
  min-width: 600px;
  font-size: 15px;
  border: 1px solid lightgray;
}
.inline {
  display: flex;
  justify-content: space-around;
}
.rowBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  border: 0.5px solid lightgray;
}
.deals {
  font-size: 25px;
  margin-top: 50px;
}
.danger {
  margin: 150px 650px;
  padding: 30px;
  font-size: 20px;
}
.danger:hover {
  background-color: orange;
  cursor: pointer;
}
